controller_list:
  - name: fake_arm_assembly_6_controller
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
initial:  # Define initial robot poses.
  - group: arm_assembly_6
    pose: home